<div class="container">
    <a routerLink="/books/manage/create">Create New</a>
    <table>
        <th>Id</th>
        <th>title</th>
        <th>description</th>
        <th>Actions</th>
        <tr *ngFor="let things of data">
            <td>{{things.id}}</td>
            <td>{{things.title}}</td>
            <td>{{things.description.slice(0, 75)}}..</td>
            <td><a routerLink="/" class="btn submit">Edit</a><button class="btn" (click)="deleteBook(things.id)">Delete</button></td>
        </tr>
    </table>
</div>