.form-text-field input{
    font-size: 18px;
    border: none;
    padding: 0.25em;
    margin: 0.5em;
    background-color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
