/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    background: rgb(22, 22, 22);
    color: #eeeeee;
}

.btn {
    border: none;
    padding: 2px;
    cursor: pointer;
    text-decoration: none;
}

.submit {
    background-color: #5755cc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1em;
}
.round {
    border-radius: 25px;
}

.danger {
    color: white;
    background-color: #c40d0d;
}