/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, Helvetica, sans-serif
}

.btn {
    border: none;
    padding: 1em;
    cursor: pointer;
}

.submit {
    background-color: #5755cc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.round {
    border-radius: 25px;
}

.delete {
    color: white;
    background-color: #c40d0d;
}